<po-loading-overlay
  [hidden]="isHideLoading"
    p-text="Carregando" >
</po-loading-overlay>

<div class="po-wrapper">
  <po-toolbar p-title="Hello Word"></po-toolbar>

  <po-menu [p-menus]="menus"></po-menu>

  <po-page-default p-title="Hello Word">

    <po-stepper #stepper [p-step-icons]="true" >
      <po-step p-label="Transferência" [p-can-active-next-step]="poData.bind(this)">
      <po-dynamic-form #dynamicForm (p-form)="getForm($event)" [p-fields]="propertyForm">
      </po-dynamic-form>

      <po-button
      [p-disabled]="dynamicForm.form.invalid || false"
      p-label="Salvar"
      class="po-md-3"
      (p-click)="save()">
      </po-button>

    </po-step>
      <po-step p-label="Confirmação" [p-can-active-next-step]="poAccept.bind(this)">
        <po-list-view
          p-property-title="name" [p-actions]="actions" [p-items]="transactionConfirm" >
  <ng-template p-list-view-content-template let-item>
    <div class="po-row">
      <po-info class="po-md-4" p-label="Remetente" [p-value]="item.sender"></po-info>
      <po-info class="po-md-4" p-label="Destinátario" [p-value]="item.recipient"></po-info>
      <po-info class="po-md-4" p-label="Valor" [p-value]="item.money"></po-info>
    </div>
  </ng-template>

</po-list-view>
      </po-step >
      <po-step p-label="Concluído"[p-can-active-next-step]="poConcluded.bind(this)" >
        <po-container>
          <img class="po-page-blocked-user-image po-mt-5" src="../assets/Success.png" alt="Confirmacao">

          <div class="po-row">
            <p class="po-font-title po-text-center po-md-12 po-mb-2">Transferência</p>
            <p class="po-font-text po-text-center po-md-12 po-mb-5" >Concluída com sucesso</p>
          </div>

        </po-container>
      </po-step>
    </po-stepper>

</po-page-default>

</div>
